/*THE FOLLOWING CODE BELONGS TO J-B*/
.body {
    font-family: var(--font-family);
}

#jb-entrees {
    cursor: pointer;
}

#jb-dropdown {
    font-size: var(--p-font-size-large);
    background: var(--grey);
}

#jb-dropdown img {
    transform: rotate(180deg);
}

.jb-item {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.jb-dropdown, .jb-item {
    transition: background .3s;
}

.jb-item:hover {
    background: var(--grey);
}

.jb-info {
    flex-direction: column;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    #jb-dropdown:active {
        background: var(--black);
    } 
}

@media only screen and (min-width: 768px) {
    #jb-dropdown {
        background: none;
        font-size: var(--h-font-size-small);
    }

    #jb-dropdown img{
        display: none;
    }
}
/*THE CODE BELONGING TO J-B ENDS HERE*/